*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
}

p{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/*---------------- CORES ----------------*/
.bg-dark{
    background-color: #1E2E27;
}

.bg-light{
    background-color: #2F3542;
}

.bg-bt-cinza{
    background-color: #2F3542;
}

.bg-bt-laranja{
    background-color: #FF9F1A;
}

.font-grande{
    font-size: 1.5rem;
}

.highlight-text{
    color: #FF9F1A;
}

.bold-text{
    font-weight: bold;
}

.white-title{
    color: #fff;
}
/*--------------------------------------*/


/*--------------- HEADER ---------------*/
.header{
    display: flex;
    flex-direction: row-reverse;
}

.botao-sombra{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    margin-top: 20px;
    padding: 0;
    font-size: 0.8rem;
    text-align: center;
}

.bt-c{
    padding: 10px;
    border-radius: 10px;
}

.bt-l{
    padding: 11px;
    border-radius: 10px;
}

/* lado esquerdo */
.bg-dark{
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 60px;
    position: relative;
}

/* lado direito */
.bg-light{
    width: 35%;
    display: flex;
    flex-direction: column;
    padding: 60px;
}

/* imagem */
#img-eu {
    position: absolute;
    right: 0;
    bottom: 0;
}

#img-eu img {
    max-width: 550px;
    height: auto;

}
/*--------------------------------------*/


/*----------- REDES SOCIAIS ------------*/
.rd-social {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.rd-social a {
    color: white;
    font-size: 22px;
}

.mn-text {
    margin-top: 30px;
}
/*--------------------------------------*/


/*--------------- SECTION --------------*/
.section-light {
    background-color: #f1f1f1;
    padding: 60px 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.img-box img {
    width: 350px;
    height: auto;
}

.text-box {
    width: 450px;
}

.title {
    margin-bottom: 10px;
    position: relative;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.title::after {
    content: "";
    width: 40px; 
    height: 3px;
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.description {
    font-size: 14px;
    color: #555;
    text-align: justify;
}

/* -------- CARDS -------- */
.cards{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 80px;
    flex-wrap: wrap;
}

.card{
    background-color: #1E2E27;
    color: white;
    width: 250px;
    padding: 60px 20px;
    text-align: center;
}

.card i{
    font-size: 30px;
    margin-bottom: 20px;
}

.card h3{
    margin-bottom: 10px;
    font-size: 18px;
}

.card p{
    font-size: 14px;
    color: #ccc;
}
/*--------------------------------------*/

.section-banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #2F3542;
}

.banner-text {
    width: 35%;
    padding: 60px 20px 60px 60px;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.banner-text p {
    width: 50%;
    line-height: 27px;
}

.banner-img {
    width: 60%;
}

.banner-img img {
    width: 100%;
    height: 450px;

}


/* -------- TECH SECTION -------- */
.tech-section {
    background-color: #f1f1f1;
    padding: 60px 20px;
    text-align: center;
}

/* faixa escura (corrigida) */
.stats {
    background-color: #2F3542;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 650px;
    height: 80px;
    margin: 0 auto 50px auto;
    border-top-left-radius: 50px; 
    border-bottom-left-radius: 0;
    border-top-right-radius: 0; 
    border-bottom-right-radius: 50px;
}

.stat h2 {
    color: #FF9F1A;
    font-size: 28px;
}

.stat p {
    font-size: 14px;
}

/* tecnologias */
.techs {
    display: flex;
    justify-content: space-between; 
    max-width: 600px;
    margin: 0 auto;
}

.tech {
    text-align: center;
}

.tech i {
    font-size: 60px;
    margin-bottom: 10px;
}

/* cores dos ícones */
.html {
    color: #e44d26;
}

.css {
    color: #264de4;
}

.js {
    color: #f0db4f;
}

.tech p {
    font-weight: bold;
}
.portfolio-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2F3542;
    padding: 30px 0;
}

.portfolio-inner {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.portfolio-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.portfolio-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin-bottom: 24px;
}
.left {
    width: 86%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left .top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.bottom img {
    width: 50%;
    height: 230px;
    object-fit: cover;
}

.right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 270px;
    height: 550px;
    object-fit: 
    cover;
}

/*------------- RESPONSIVO -------------*/
@media only screen and (max-width: 600px){
    header div{
        width: 100%;
        text-align: center;
        padding: 50px;
    }

    .container{
        flex-direction: column;
    }

    .stats{
        width: 90%;
    }

    .techs{
        flex-direction: column;
        gap: 30px;
    }
}