*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/*---------------- CORES ----------------*/
.bg-dark{
    background-color: #1E2E27;
}

.bg-light{
    background-color: #2F3542;
}

.highlight-text{
    color: #FF9F1A;
}

.bold-text{
    font-weight: bold;
    font-size: 28px;
    line-height: 1.3;
}

.white-title{
    color: #fff;
}
/*--------------------------------------*/


/*--------------- HEADER ---------------*/
.header{
    display: flex;
    min-height: 400px;
    flex-direction: row-reverse;
}

/* lado esquerdo */
.bg-dark{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    position: relative;
}

/* lado direito */
.bg-light{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* imagem */
#img-eu{
    position: absolute;
    right: -90px;
    bottom: 0;
}

#img-eu img{
    width: 550px;
}
/*--------------------------------------*/


/*----------- REDES SOCIAIS ------------*/
.rd-social {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.rd-social a {
    color: white;
    font-size: 22px;
    transition: 0.3s;
}

.rd-social a:hover {
    color: #FF9F1A;
}

.mn-text {
    text-align: center;
    margin-top: 10px;
}
/*--------------------------------------*/


/*--------------- SECTION --------------*/
.section-light {
    background-color: #f1f1f1;
    padding: 60px 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.img-box img {
    width: 350px;
    height: auto;
}

.text-box {
    max-width: 400px;
}

.title {
    font-size: 22px;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    color: #555;
}

/* -------- CARDS -------- */
.cards{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 80px;
    flex-wrap: wrap;
}
.card{
    background-color: #1E2E27;
    color: white;
    width: 250px;
    padding: 60px 20px;
    text-align: center;
}

.card i{
    font-size: 30px;
    margin-bottom: 20px;
}

.card h3{
    margin-bottom: 10px;
    font-size: 18px;
}

.card p{
    font-size: 14px;
    color: #ccc;
}
/*--------------------------------------*/

.tam-meio{
    font-size: 12px;
}

.img-novo{
    width: 65%;
}

.img-novo img{
    width: 100%;
    height: 100%;
}

.bg-dark2{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/*--------------------------------------*/


/*------------- RESPONSIVO -------------*/
@media only screen and (max-width: 600px){
    header div{
        width: 100%;
        text-align: center;
        padding: 50px;
    }
}